[submodule "lib/connect-ip-go"]
	path = lib/connect-ip-go
	url = git@github.com:quangtrieu1312/connect-ip-go
[submodule "lib/lockfree_mpmc_queue"]
	path = lib/lockfree_mpmc_queue
	url = git@github.com:quangtrieu1312/lockfree_mpmc_queue
[submodule "lib/quic-go"]
	path = lib/quic-go
	url = git@github.com:quangtrieu1312/quic-go
[submodule "lib/water"]
	path = lib/water
	url = git@github.com:quangtrieu1312/water
